@use "../../styles/mixins" as mixins;

.input {
  @include mixins.text-base;
  @include mixins.font-medium;
  @include mixins.transition;

  padding: 12px 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 44%);
  border-radius: 4px;
  background: hsl(0, 0%, 10%);

  &:hover {
    border-color: hsl(218, 11%, 65%);
  }

  &::placeholder {
    color: hsl(0, 0%, 44%);
  }

  @include mixins.focus-visible;
  @include mixins.focus;
}
