.button {


  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: var(--font-size-button);
  color: var(--text-primary);
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, border-color 0.3s;

  &:not([disabled]):hover {
    border-color: rgba(255, 255, 255, 0.7);
    background: rgba(0, 0, 0, 0.7);
  }

  &[disabled] {
    cursor: default;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
