@use "../../styles/mixins" as mixins;

.button {
  @include mixins.text-sm;
  @include mixins.font-medium;
  @include mixins.transition;

  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  color: hsl(0, 0%, 0%);
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 4px;
  background: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 98%);

  &:not([disabled]):hover {
    background-color: hsl(0, 0%, 88%);
    border-color: hsl(0, 0%, 88%);
  }

  &[disabled] {
    cursor: not-allowed;
    border-color: hsl(0, 0%, 59%);
    background-color: hsl(0, 0%, 59%);
  }

  @include mixins.focus-visible;
}
