.signin-form {
  /*padding: 24px 24px;*/
  /*border: 1px solid rgba(255, 255, 255, 0.6);*/
  border-radius: 8px;
}

.signin-form__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.signin-form__field {
  margin-bottom: 16px;
}

.signin-form input {
  width: 100%;
  padding: 12px 12px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

/*.signin-form input:-internal-autofill-selected {*/
/*  background-color: rebeccapurple !important;;*/
/*}*/

.signin-form button {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 16px;
  background: #fff;
  border: none;
  border-radius: 4px;
}

.signin-form__link {
  color: #fff;
  text-decoration: none;
}

.signin-form__link:hover {
  color: #bbb;
}

.signin-form__footer {
  margin: 36px 0 0;
}

.signin-form__footer p {
  margin: 0 0 4px;
}

.signin-form__footer p:last-child {
  margin-bottom: 0;
}
