.signin-form {
  /*padding: 24px 24px;*/
  /*border: 1px solid rgba(255, 255, 255, 0.6);*/
  border-radius: 8px;
}

.signin-form__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.signin-form__field {
  margin: 16px 0;
}

.signin-form input {
  width: 100%;
  padding: 12px 12px;
  box-sizing: border-box;
  font-size: 16px;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.signin-form input::placeholder {
  color: #666;
}

/*.signin-form input:-internal-autofill-selected {*/
/*  background-color: rebeccapurple !important;;*/
/*}*/

.signin-form button {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.4);

  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.signin-form button[disabled] {
  cursor: default;
}

.signin-form button:not([disabled]):hover {
  border-color: rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.7);
}

.signin-form button .invisible {
  opacity: 0;
  visibility: hidden;
}

.signin-form button img {
  margin: -16px 0 0 -16px;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 32px;
  color: white;
}

.signin-form__error {
  margin: 8px 0 20px;
  color: rgb(255 184 181 / 1);
}

.signin-form__link {
  color: #fff;
  text-decoration: none;
}

.signin-form__link:hover {
  color: #bbb;
}

.signin-form__footer {
  margin: 36px 0 0;
}

.signin-form__footer p {
  margin: 0 0 4px;
}

.signin-form__footer p:last-child {
  margin-bottom: 0;
}
