.title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.field {
  margin: 16px 0;
}

.error {
  margin: 8px 0 20px;
  color: rgb(255 184 181 / 1);
}

.footer {
  margin-top: 36px;
}
