@use "mixins" as mixins;

:root {
  --text-primary: hsl(240, 20%, 99%);
  --text-error: hsl(0, 100%, 85%);
  --link-primary: hsl(240, 20%, 99%);
  --link-primary-hover: hsl(50, 100%, 50%);
  --bg-base: hsl(0, 0%, 10%);
  --border: hsl(0, 0%, 44%);
  --border-emphasis: hsl(218, 11%, 65%);
  --brand: hsl(0, 0%, 98%);
  --brand-emphasis: hsl(0, 0%, 88%);
  --brand-subtle: hsl(0, 0%, 59%);
  --brand-text: hsl(0, 0%, 0%);
  --brand-accent: hsl(0, 0%, 0%);

  --font-size-xs: 0.75rem; // 12px
  --font-size-sm: 0.875rem; // 14px
  --font-size-md: 1rem; // 16px
  --font-size-lg: 1.125rem; // 18px
  --font-size-xl: 1.3125rem; // 21px
  --font-size-2xl: 1.5rem; // 24px
  --font-size-3xl: 2.652rem; // 42px
  --font-size-4xl: 4rem; // 64px

  @include mixins.font-inter;
  @include mixins.font-normal;

  color-scheme: dark;
  color: var(--text-primary);
  background-color: var(--bg-base);
}

body {
  margin: 0;
  // TODO: think about it
  min-width: 16rem;
}

*, :after, :before {
  box-sizing: border-box;
  border: none;
}

button, input, select, textarea {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 100%;
  line-height: inherit;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

[role=button], button {
  cursor: pointer;
}
