@use "../../styles/mixins" as mixins;

.root {
  margin: 0 auto;
  padding: 60px 24px 80px 24px;
  max-width: 400px;
}

.header {
  margin: 0 0 48px;
  text-align: center;
}

.logo {

  &-image {
    height: 100px;
  }

  &-text {
    @include mixins.text-xlg;
    @include mixins.font-semibold;

    margin-top: 12px;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.content {
}
