@use "../../styles/mixins" as mixins;

.input {
  @include mixins.text-base;
  @include mixins.font-medium;
  @include mixins.transition;

  padding: 12px 12px;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 4px;
  background: var(--bg-base);

  &:hover {
    border-color: var(--border-emphasis);
  }

  @include mixins.focus-visible;
  @include mixins.focus;
}
