@use "../../styles/mixins" as mixins;

.input {
  @include mixins.font-medium;
  @include mixins.transition;

  border: 1px solid var(--border);
  background: var(--bg-base);

  &:hover {
    border-color: var(--border-emphasis);
  }

  @include mixins.focus-visible;
  @include mixins.focus;

  &.full-width {
    width: 100%;
  }

  &.medium {
    @include mixins.text-md;

    padding: 12px 16px;
    border-radius: 4px;
  }
}
