
.root {
    margin: 0 auto;
    max-width: 400px;
}

.header {
    margin: 0 0 48px;
    text-align: center;
}

.logo-container {

}

.logo-image {
    height: 100px;
    padding: 12px;
}

.logo-text {
    font-size: 26px;
    font-weight: bold;
  text-transform: uppercase;
}

