:root {
  --text-primary: hsla(0, 0%, 100%, 0.87);
  --link-primary: hsla(0, 0%, 100%, 0.87);
  --link-hover-primary: hsla(50, 100%, 50%, 1);
  --error: hsl(0, 100%, 85%);
  --bg-primary: hsl(0, 0%, 14%);
  --font-size-medium: 18px;
  --font-size-button: 16px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--font-size-medium);
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

body {
  margin: 0;
  min-width: 320px;
}
