@use "../../styles/mixins" as mixins;

.link {
  @include mixins.transition;

  color: var(--link-primary);
  text-decoration: none;

  &:hover {
    color: var(--link-primary-hover);
    text-decoration: none;
  }

  @include mixins.focus-visible;
}
